<header class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow position-fixed">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/homepage">Auto Finance</a>
  <button
    class="navbar-toggler position-absolute d-md-none collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu"
    aria-controls="sidebarMenu"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul *ngIf="checkAuthenticated()" class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <div class="text">
        <button routerLink='/profile' type="text" class="btn btn-outline-light me-2">
          {{getUserStorage()  }}
        </button>
        <button (click)="signOut()" type="button" class="btn btn-warning">
          Log Out
        </button>
      </div>
    </li>
  </ul>
  <ul *ngIf="!checkAuthenticated()" class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <div class="text">
        <button
          routerLink="/login"
          type="button"
          class="btn btn-outline-light me-2"
        >
          Login
        </button>
        <button routerLink="/register" type="button" class="btn btn-warning">
          Register
        </button>
      </div>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="position-absolute pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <br />
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/add-wallet">
              <span data-feather="bar-chart-2"></span>
              Take Wallet
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trades">
              <span data-feather="layers"></span>
              Trades
            </a>
          </li>
        </ul>

        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>Verify Manage</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="/wallet-verify">
              <span data-feather="file-text"></span>
              Verify Wallets
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/product-verify">
              <span data-feather="file-text"></span>
              Verify Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Block the User
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end trade
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products/add">
              <span data-feather="file-text"></span>
              Be a Customer
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Be a Supplier
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

