
<table class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">BRAND</th>
        <th scope="col">MODEL YEAR</th>
        <th scope="col">COLOR</th>
        <th scope="col">KDV</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let product of products" class="table">
        
        <td >{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price  | currency: "TRY":"TL":""}}</td>
        <td>{{ product.supplierId}}</td>
        <td *ngIf="product.toVerify==false">{{ product.toVerify}}</td>
        <button
          style="margin: 8px"
          type="button"
          class="btn btn-outline-secondary"
        >
          Take Info
        </button>
      </tr>
    </tbody>
  </table>