<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Add Money to Wallet</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="walletAddForm">
          <div class="form-group">
            <input
            type="number"
            id="balance"
            formControlName="balance"
            class="form-control"
            placeholder="Balance Tr"
          />
            <input
              type="number"
              id="balanceUs"
              formControlName="balanceUs"
              class="form-control"
              placeholder="Balance Dolar"
            />
            <input
              type="number"
              id="balanceFr"
              formControlName="balanceFr"
              class="form-control"
              placeholder="Balance Frank"
            />
            <input
              type="number"
              id="balanceEur"
              formControlName="balanceEur"
              class="form-control"
              placeholder="Balance Euro"
            />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="addWallet()">
          Send Money your Balance
        </button>
      </div>
    </div>
  </div>
</div>
