<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wallet of walletDto">
      <th scope="row">1</th>
      <td>{{ wallet.userName }}</td>
      <td>{{ wallet.userLastName }}</td>
      <td>{{ wallet.balance }}</td>
      <td>{{ wallet.toVerify }}</td>
      <td>{{ wallet.userId }}</td>
      <button (click)="verifyWallet(wallet)">Verify</button>
    </tr>
  </tbody>
</table>
