<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Update Info</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="userUpdateForm">
          <div class="form-group">
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
              placeholder="User Name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="form-control"
              placeholder="Last Name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
              placeholder="E-Mail"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
              placeholder="Password"
            />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-primary" (click)="update()">
          Update
        </button>
      </div>
    </div>
  </div>
</div>
<!-- 
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Category Name</th>
   
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let claim of usersClaims" class="table">
      <td>{{ claim.operationClaimName}}</td>
      <button type="button" class="btn btn-outline-success">Details</button>
    </tr>
  </tbody>
</table> -->
<hr class="featurette-divider" />
<div class="col-md-12">
  <h1>Wallet Balance</h1>
  <table class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th scope="col">Balance</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{ userWallet.balance | currency: "TRY":"TL":"" }}</td>
        <
        <button type="button" class="btn btn-outline-success">Details</button>
      </tr>
    </tbody>
  </table>

  <hr class="featurette-divider" />
  <div class="col-md-12">
    <h1>Old Transactions</h1>
    <table id="table" class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Sell Date</th>
          <th scope="col">Trade Amount</th>
          <th scope="col">Trade Price</th>
          <th scope="col">Tax</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trade of tradesDto">
          <th scope="row"></th>
          <td>{{ trade.productName }}</td>
          <td>{{ trade.sellDate }}</td>
          <td>{{ trade.tradeAmount }}</td>
          <td>{{ trade.tradePrice }}</td>
          <td>{{ trade.tax }}</td>
          <button
          type="button"
          (click)="down()"
          >Download</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
